:root {
    --th-bg: rgba(255, 255, 255, 0.15);
    --hr-bg: rgba(255, 255, 255, 0.1);
}

main table:not(.plain),
main th:not(.plain),
main td:not(.plain) {
    align-self: flex-start;

    text-align: center;
    border-collapse: collapse;
    padding: 0.75em;
    transition:
        background-color 0.2s,
        box-shadow 0.2s;
    border: 2px solid rgba(255, 255, 255, 0.25);
}

main table:not(.plain) {
    display: block;
    overflow-x: auto;
    max-width: 100%;
    padding: 0;
}

main th:not(.plain) {
    background: var(--th-bg);
    color: var(--text-bold);
}

main blockquote:not(.plain) {
    border-left: 4px solid rgba(255, 255, 255, 0.25);
    margin-left: 0;
    background: rgba(255, 255, 255, 0.08);

    padding: 0.5em 1em;
}

main blockquote:not(.plain).info {
    border-left-color: rgb(92, 255, 97);
    background: rgba(21, 255, 0, 0.08);
}

main blockquote:not(.plain).warning {
    border-left-color: rgb(255, 222, 92);
    background: rgba(255, 255, 0, 0.08);
}

main blockquote:not(.plain).error {
    border-left-color: rgb(255, 92, 92);
    background: rgba(255, 0, 0, 0.08);
}

main ul:not(.plain),
main ol:not(.plain) {
    margin: 0 1em;
    padding: 0;
    /* background-color: rgba(255, 255, 255, 0.04);
        border-radius: 1em;

        padding: 0.5em 2em; */
}

main li:not(.plain) {
    margin: 0.5rem 1rem;
    line-height: 1.6;
}

main ul:not(.plain) ul:not(.plain),
main ol:not(.plain) ol:not(.plain) {
    list-style-type: circle;
    margin-top: 0.5em;
    margin-left: 1em;
}
