@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* @font-face {
    font-family: 'Brass Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url('/assets/fonts/BrassMono/BrassMonoCode-Regular.woff2') format('woff2'),
        url('/assets/fonts/ttf/BrassMonoCode-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Brass Mono';
    font-style: bold;
    font-weight: 700;

    font-display: swap;
    src:
        url('/assets/fonts/BrassMono/BrassMonoCode-Bold.woff2') format('woff2'),
        url('/assets/fonts/ttf/BrassMonoCode-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Brass Mono';
    font-style: italic;
    font-weight: 400;

    font-display: swap;
    src:
        url('/assets/fonts/BrassMono/BrassMonoCode-Italic.woff2') format('woff2'),
        url('/assets/fonts/ttf/BrassMonoCode-Italic.ttf') format('truetype');
}

.brass-mono,
.brass-mono * {
    font-family: 'Brass Mono', Consolas, monospace;
    font-optical-sizing: auto;
} */

.fira-code,
.fira-code * {
    font-family: 'Fira Code', Consolas, monospace;
    font-optical-sizing: auto;
}

.jetbrains-mono,
.jetbrains-mono * {
    font-family: 'JetBrains Mono', Consolas, monospace;
    font-optical-sizing: auto;
}

.ipa,
.ipa *,
.unicode,
.unicode * {
    font-family: 'Noto Sans', Consolas, monospace;
    font-optical-sizing: auto;
}

.noto-sans,
.noto-sans * {
    font-family: 'Noto Sans', sans-serif;
    font-optical-sizing: auto;
}

.noto-sans-mono,
.noto-sans-mono * {
    font-family: 'Noto Sans Mono', sans-serif;
    font-optical-sizing: auto;
}

.space-grotesk,
.space-grotesk * {
    font-family: 'Space Grotesk', sans-serif;
    font-optical-sizing: auto;
}

.geist,
.geist * {
    font-family: 'Geist', sans-serif;
    font-optical-sizing: auto;
}

.inter,
.inter * {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
}

.jp,
.jp *,
.sawarabi-gothic,
.sawarabi-gothic * {
    font-family: 'Sawarabi Gothic', sans-serif;
    font-optical-sizing: auto;
}
