@layer global {
    :root {
        --anchor: #aaa;
        --anchor-hover: #777;
    }

    code:not(.plain),
    kbd:not(.plain) {
        display: inline-block;
        font-family: "JetBrains Mono";
        padding: 4px 8px;
        border-radius: 5px;
    }

    code:not(.plain) {
        background: rgb(20, 13, 0);
        color: rgb(255, 220, 140);
        padding: 2px 6px;
    }

    kbd:not(.plain) {
        background: rgb(0, 18, 20);
        color: rgb(140, 249, 255);
        padding: 2px 6px;
    }

    kbd.plain {
        display: inline-block;
        font-family: "JetBrains Mono";
        color: #777;
    }

    kbd.plain::before {
        content: "<";
    }

    kbd.plain::after {
        content: ">";
    }

    pre:not(.plain) {
        overflow-x: auto;

        margin: 1.25rem 0;
        padding: 1.25rem;

        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 0.75rem;

        background: #1a1b26;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

        user-select: text;
    }

    pre:not(.plain) code {
        display: block;

        width: max-content;
        min-width: 100%;

        font-size: 0.9em;
        line-height: 1.65;
    }

    a.-block-anchor,
    a.plain {
        color: inherit;
        cursor: pointer;
        text-decoration: none;
    }

    a:not(.-block-anchor):not(.plain) {
        text-decoration: none;
        display: inline-block;

        color: var(--anchor);

        transition: color 0.2s ease;
    }

    a:not(.-block-anchor):not(.plain):hover {
        text-decoration: underline;
        color: var(--anchor-hover);
    }
}
