:root {
    --text: #ccc;
    --text-bold: #cacaca;

    --heading: #ddd;

    --base-font-size: 25px;
}

body {
    font-size: var(--base-font-size);

    color: var(--text);
}

b,
strong {
    font-weight: 600;

    color: var(--text-bold);
    transition:
        text-shadow 0.2s,
        color 0.2s;
}

@media (max-width: 1024px) {
    :root {
        --base-font-size: 20px;
    }
}

@media (max-width: 768px) {
    :root {
        --base-font-size: 10px;
    }
}

@media (max-width: 480px) {
    :root {
        --base-font-size: 10px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
    color: var(--heading);
    font-family: 'Noto Sans Mono';
    font-weight: 400;
}

.small-heading {
    text-transform: uppercase;
    color: #777;
}
